#d1{
    border: 1px solid black;
    padding: 13px;
}
#img1{
    float: left;
    padding: 11px;
}
#d3{
    background-color: dimgrey;
    margin: 10px;
}
.class3{
    position: absolute;
    top: 83px;
    left: 83px;
    width: 465px;
    height: 465px;
}